# Core scientific computing
numpy>2.0.0
pandas
PyWavelets

# Visualization
matplotlib
seaborn
tqdm

# Neuroimaging / signal analysis
mne
edfio>=0.4.0

# Utilities
gdown

# GitHub dependencies
pyblinker @ git+https://github.com/balandongiv/pyblinker.git
blink-evaluation @ git+https://github.com/balandongiv/blink_evaluation.git
autoreject @ git+https://github.com/autoreject/autoreject.git